.DS_Store
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc
build/
build-tidy/
build-*/
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
compile_commands.json
cmake_uninstall.cmake
test_fs_support_CASE_sensitivity
test_fs_support_case_sensitivity

TestBots

